body {
    font-family: Arial, sans-serif;
    background-color: #7a200d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    background-color: #7a200d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin: 0 0 20px;
    color: whitesmoke;
}

.form input {
    padding: 10px;
    margin: 5px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    padding: 10px 20px;
    background-color: #1b2a39;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dados h2 {
    margin-top: 20px;
    color: whitesmoke;
}

ul {
    list-style: none;
    padding: 0;
    color: white;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

